<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="server=localhost;user id=root;password=root;database=test" />
		


	</connectionStrings>
	<appSettings>
		<add key="BufferSize" value="1048576" />
		<add key="Module" value="RFID_PEOPLE" />
		<add key="Hostname" value="omp.com" />
		<add key="dataType" value="LOG" />
	</appSettings>

</configuration>